language: java
sudo: false

jdk:
- oraclejdk8

install: true

cache:
  directories:
  - '$HOME/.m2/repository'
  - '$HOME/jvm'
  - '$HOME/maven'

after_success:
- mvn clean cobertura:cobertura coveralls:cobertura